<div class="col-md-7">
<h2 class= "text-center" > Add Doctor </h2>
<form >
<div class="form-group">
<label for="doctorname">Doctor Name: </label>
<input [(ngModel)] = "doctor.doctorname" placeholder="Doctor's Name"  name="doctorname" required
class="form-control" id ="doctorname" style="background-color: rgb(255, 0, 0); color: black;" />
      
</div>

<div class="form-group">
<label for="Username">User Name: </label>
<input [(ngModel)]="doctor.username" placeholder="User Name" name="Username" 
class="form-control" id ="Username" style="background-color: rgb(255, 0, 0); color: black;"required>
</div>

<div class="form-group">
<label for="Specialization">Specialization: </label>
<input [(ngModel)]="doctor.doctorspecialization" placeholder="Specialization" name="doctorspecialization" 
class="form-control" id ="doctorspecialization" style="background-color: rgb(255, 0, 0); color: black;">
</div>
<div class="form-group">
<label for="doctor_City">City: </label>
<input [(ngModel)]="doctor.doctorcity" placeholder="Doctor's City" name="doctorcity" 
class="form-control" id ="doctorcity" style="background-color: rgb(255, 0, 0); color: black;"required>
</div>
<div class="form-group">
<label for="State">State: </label>
<input [(ngModel)]="doctor.doctorstate" placeholder="Doctor's State" name="doctorstate" 
class="form-control" id ="doctorstate" style="background-color: rgb(255, 0, 0); color: black;"required>
</div>
<button class="btn btn-success" (click)="createDoctor()">Create</button>
 
</form>
</div>
  