<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    .navbar{
      font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
      width: 1516px;
    }
    ul{
      display: inline-block;
      font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
      margin-left: 1px;
      margin-right: 20px;
    }
ul li a{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  display: inline-block;
  margin-right: 20px;
  
  
}
    </style>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>
  <nav class="navbar navbar-inverse">

    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">HCS</a>
      </div>
      <ul id="nav" class="nav navbar-nav" routerLinkActive="active">
        <li class="nav-item">
          <a class="nav-link" routerLink="home">Home</a></li>
        <li *ngIf="authority === 'user'" class="nav-item">
          <a class="nav-link" routerLink="user/patient">Patient Profile</a>
          <a class="nav-link" routerLink="user/patient-view">View Profile</a>
          <a class="nav-link" routerLink="appointment">Book Appointment </a>
          <a class="nav-link" routerLink="appointment-view">View Appointment </a>
        </li>
        <li *ngIf="authority === 'admin'" class="nav-item">
          <a class="nav-link" routerLink="view/users">View Users</a>
          <a class="nav-link" routerLink="view/patients">View Patients</a>
          <a class="nav-link" routerLink="view/doctors">View Doctors</a>
          <a class="nav-link" routerLink="view/appointments">View Appointments</a>
        </li>
        <li *ngIf="authority === 'pm'" class="nav-item">
          <a class="nav-link" routerLink="pm/doctor">Doctor Profile</a>
          <a class="nav-link" routerLink="pm/doctor-view">View Profile</a>
          <a class="nav-link" routerLink="DocApp-view">View Appointments </a>
        </li>
        <li *ngIf="!authority" class="nav-item">
          <a class="nav-link" routerLink="auth/login">Login</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</body>

</html>